@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.title{
    font-family: 'Bebas Neue', system-ui;
    font-weight: 850;
    font-style: normal;
    font-size: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    transform: translate(0%,50%);
    z-index: -1;
    width: 100%;
}
@media (max-width: 768px) {
    .title{
        font-size: 1rem;
    }
  }
