.link{
    position: relative;
    display: flex;
    align-items: center;
    
    .indicator{
        width: 10px;
        height: 10px;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        left: -30px;
        transform: scale(0) translateX(-50%);
                transition: transform 0.2s cubic-bezier(0.76, 0, 0.24, 1);
    }
    
   
}